# 문제설명
길이가 n이고, "수박수박수박수...."와 같은 패턴을 유지하는 문자열을 리턴하는 함수, solution을 완성하세요. 예를들어 n이 4이면 "수박수박"을 리턴하고 3이라면 "수박수"를 리턴하면 됩니다.


## 제한조건
n은 길이 10,000이하인 자연수입니다.

n = 3

return = "수박수"

In [ ]:
풀기 전 생각 : 짝수 홀수를 이용해 "수박" 과 "수"를 만들어 조합해준다.

In [41]:
#첫번째
def solution(n):
    if n % 2==0:
        print("수박" * (n/2))
    else:
        print("수박" * (n/2)+"수")

In [42]:
solution(4)

TypeError: can't multiply sequence by non-int of type 'float'

# 에러를 잘 읽고난 후 고쳐보았다.
TypeError: can't multiply sequence by non-int of type 'float'

뜻) 'float'유형의 정수가 아닌 시퀀스를 곱할 수 없습니다.

In [50]:
#두번째
def solution(n):
    answer = ''
    if n % 2==0:
        answer = "수박" * (n//2)        # // 는 나누기 연산 후 소수점 이하의 수를 버리고, (정수 부분)의 수만 구함
        return answer
    else:
        answer = "수박" * (n//2)+"수"
        return answer

In [51]:
solution(5)

'수박수박수'

# 다른 사람들의 풀이

In [52]:
#1 (문자열의 슬라이스를 이용)
def solution(n):
    s = "수박" * n #부가 설명이 필요없이 갈끔하다
    return s[:n]

In [53]:
solution(5)

'수박수박수'

In [ ]:
#2
def water_melon(n):
    return "수박"*(n//2) + "수"*(n%2) #몫만있는경우 나머지가 있는경우를 if구문을 쓰지않는 버젼 같다.

In [ ]:
#3 (이런 풀이도 잠깐 생각 했지만 복잡 할 것 같아 필자는 시도 하지 않았다.)
def water_melon(n):
    
    wm=""
    for i in range(n):        # n의 범위 (0,n) ex/ n=2, (0,2) = 0,1
        if (i%2==0):          # n의 수를 1개씩 나누어 나머지가 0이면 wm에 "수"를 담아줘 EX n=2, (수x) 
            wm=wm+"수"
        elif (i%2==1):        
            wm=wm+"박"   # n위 수를 1개씩 나누어 나머지가 1이면 wm에 "박"를 담아줘 EX n=2, (x박) 

    return wm

# 이 문제를 통해 알게된 점

In [55]:
a = "문자" * 2.4

TypeError: can't multiply sequence by non-int of type 'float'

문자열과 실수는 연산이 안된다.
해결: 정수로는 연산이 된다.