In [1]:
# 1-1. 입력된 수가 짝수라면 2로 나눕니다. 
# 1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
# 2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.

과정 생각 : for문과, while문을 선택 하고 위 조건을 만들고 리턴하자

첫 번째

In [384]:
# while 문으로 풀이
def solution(n):
    while n > 1:      # 조건 주어진 수가 1이되면 안되니까 1보다 큰 수로 조건을 만들어 주었다.
        m = []          #빈리스트를 만들어 주었다.
        m.append(n)  #리스트에 수가 바뀔때마다 넣어줘
        if n%2==0:    #짝수 조건일때
            n = n/2    #n을 2로 나눠줘
        else:
            n = n*3+1#홀수일때 *3+1해줘
    return m

In [385]:
solution(11)

[2.0]

두 번째

In [386]:
def solution(n):
    
    while n > 1:
         answer = 0
        #print(f'{n}')
        if n%2==0:
            n = n/2
            answer += 1    #위 식을 계산 할때마다  answer에 1씩 더해줘
        else:
            n = n*3+1
            answer += 1
            
    if answer > 500:
        return -1
    return answer

In [387]:
solution(626331)

-1

세 번째 (성공)

In [ ]:
def solution(n):
    answer = 0
    while n > 1:
        #print(f'{n}')
        if n%2==0:
                n = n/2
                answer += 1          
        else:
            n = n*3+1
            answer += 1
            
    if answer > 500:
        return -1
    return answer